@import url('https://fonts.googleapis.com/css2?family=Style+Script&display=swap');

/* global styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: black;
    /* full sized, fixed center bg image */
    background: url('../img/bg.jpg') no-repeat center center fixed;
    background-size: cover;
}

body {
    /* default font fam, all descendent elems will have this font */
    /* can be overriden further down */
    font-family: "Style Script", serif;
}

/* tell images to take up full container width, then size container */
img {
    width: 100%;
    height: auto;
}

/* nav */
header {
    width: 100%;
    height: 50px;
    padding: 0 5%;
    background-color: dimgrey;
    overflow-y: hidden;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;

    /* flex container properties */
    display: flex;
    flex-direction: row; /* default */
    justify-content: space-between; /* space-around/space-evenly: = space between each item */
    align-items: center;
    background: url('../img/stardust.png');
}

header h1 {
    color: #ddd;
}

nav ul {
    display: flex;
    list-style-type: none;
    text-align: center;
    background-color: rgba(40,40,40,0.3);
}

nav li {
    font-size: 18px;
    width: 100px;
    height: 50px;
    line-height: 50px;
}

nav a {
    display: block; /* take up entire width */
    text-decoration: none;
    color: #ddd;
    /* define transitions on base/default state */
    transition: all 0.3s linear; /* which styles to apply, time taken, transition style */
}

nav a:hover {
    background-color: rgba(40,40,40,0.5);
}

nav a.active {
    background-color: #222;
}

/* gallery styles */
.container {
    width: 900px;
    margin: 100px auto;
    /* when using inline block to stack elems, zero out font size on container elem */
    font-size: 0;
}

.polaroid {
    width: 260px;
    margin: 20px;
    display: inline-block;
    /* when abs positioning elem inside elem, make sure parent elem
    is positioned rel */
    position: relative;
}

/* descendant selectors */
.polaroid img {
    /* border: width, style, color */
    border: 10px solid #ddd;
    border-bottom-width: 45px;
}

.polaroid p {
    font-size: 1.5rem;
    position: absolute;
    bottom: 5px;
    width: 260px;
    text-align: center;
    color: #222;
}

/* transforms/transitions */
.scaleUp {
    transform: scale(1.2);
    z-index: 10;
}

.scaleX {
    transform: scale(2, 1); /* x-dir, y-dir */
}

.scaleY {
    transform: scaleY(2);
}


.skewX {
    transform: skewX(-20deg);
    transform-origin: top;
}

.skewY {
    transform: skewY(-20deg);
}

.skewBoth {
    transform: skew(10deg, 40deg);
}


.rotX {
    transform: rotateX(180deg);
}

.rotY {
    transform: rotateY(180deg);
}

.rotZ {
    transform: rotateZ(180deg);
}

.rotLeft {
    transform: rotate(-20deg);
    transform-origin: bottom right;
    transition: all 1s ease-out;
}
.rotLeft:hover {
    transform: rotate(20deg);
}

.skewHover {
    transform: skewX(30deg);
    transition: all 1s linear;
}
.skewHover:hover {
    transform: skewX(-30deg);
}

.scaleHover {
    transform: scale(0.5);
    transition: all 1s ease-in;
}
.scaleHover:hover {
    transform: scale(1.5);
    filter: invert();
}


/* filters */
.colorSwap {
    filter: grayscale(100)
}
.colorSwap:hover {
    filter: grayscale(0);
}